.icon-box {
	width: 100%;
	.el-button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
	:deep(.el-dialog__body) {
		padding-top: 25px;
		.el-input {
			margin-bottom: 10px;
		}
		.icon-box {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			max-height: 640px;
			overflow: auto;
			overflow-x: hidden;
			.icon-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 41.5px;
				padding: 15px 30px;
				cursor: pointer;
				transition: all 0.2s;
				&:hover {
					transform: scale(1.3);
				}
				span {
					line-height: 20px;
					text-align: center;
				}
			}
		}
	}
}
