/* flex */
.flx-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flx-justify-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flx-align-center {
	display: flex;
	align-items: center;
}

/* 清除浮动 */
.clearfix::after {
	content: "";
	display: block;
	height: 0px;
	clear: both;
	overflow: hidden;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all 0.2s;
}
.fade-transform-enter-from {
	opacity: 0;
	transform: translateX(-30px);
	transition: all 0.2s;
}
.fade-transform-leave-to {
	opacity: 0;
	transform: translateX(30px);
	transition: all 0.2s;
}

/* Breadcrumb */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
	transition: all 0.2s ease;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
	opacity: 0;
	transform: translateX(10px);
}
.breadcrumb-leave-active {
	position: absolute;
	z-index: -1;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: white;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0px white;
	-webkit-box-shadow: inset 0 0 0px white;
	background-color: #dddee0;
	border-radius: 20px;
}

.content-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 23px;
	font-weight: bold;
	color: rgb(88, 88, 88);
	line-height: 100px;
}
