/* flex */
.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-align-center {
  display: flex;
  align-items: center;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.2s;
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s;
}

/* 滚动条 */
// 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 8px;
  /*滚动条宽度*/
  height: 8px;
  /*滚动条高度*/
  background-color: white;
}
// 定义滑块 内阴影+圆角
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  background-color: #dddee0;
  /*滚动条的背景颜色*/
  border-radius: 20px;
}
