.el-container {
	width: 100%;
	min-width: 970px;
	height: 100%;
	.el-aside {
		width: auto;
		overflow: inherit;
	}
	.el-header,
	.el-footer {
		height: auto;
		padding: 0;
	}
	.el-main {
		box-sizing: border-box;
		padding: 10px 12px;
		overflow-x: hidden;
		background: #f0f2f5;
		&::-webkit-scrollbar {
			background-color: #f0f2f5;
		}
	}
}
